:root {
 margin: 0 auto;
padding: 0;
box-sizing: border-box;
font-family: Rubik, serif ;
font-weight: 500;
font-size: 18px;
-webkit-text-size-adjust: 100%;
height: 100%;
}
@font-face {
    font-family: "Rubik";
    src: url("/public/fonts/Rubik.woff2") format("woff2");
}
/*remember we set height, but if we set width, it does not take into account the scrollbar 10px, this creates horizontal scroller on the bottom
    the solution is to not set width anywhere and it defaults, or set auto only, but we should set height. if we do set width, choose 100% over 100vw
        to avoid surprise scrollbars   https://www.freecodecamp.org/news/html-page-width-height/        https://css-tricks.com/the-lengths-of-css/
  https://www.nordtheme.com/
*/


html, body, #root, .App{
height: 100%;
margin: 0;
padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, serif ;
}

button{
border: 1px solid #2e3440;
background-color: rgb(67, 76, 94);
padding: 0.3rem 1.5rem;
width: max-content;
color: #88c0d0;
border-radius: 3px;
transition: transform 100ms ease-in-out;
/*margin-top: 1rem;*/
cursor: pointer;
}
button:hover  {
background-color: rgb(67,76,94, 0.7);
cursor: pointer;
}
#root {
}
.App {
display: flex;
flex-direction: column;

}


.App.dark-mode {
background-color: #2e3440;
color: rgb(236, 239, 244);
}

.App.light-mode {
color: #2e3440;
background-color: aliceblue;
}


nav {
padding: 1.1rem 2rem;
display: flex;
align-items: center;
}
.dark-mode nav {
background-color: #3b4252;
}
.light-mode nav {
background-color:#d8dee9 ;
}
a {
all: unset;
cursor: pointer;
}
nav > a {
margin: 0 0.5rem;
}
nav > .icon {
margin-left: auto;
}
.icon {
cursor: pointer;
}
/* .light-mode header { */
/* background-color: #eceff4; */
/* } */
/* .dark-mode header { */
/* background-color: #4c566a; */
/* } */
header {
background-color: #88c0d0;
padding: 2rem 2rem;
display: flex;
align-items: center;
justify-content: center;

}
.profile {
/* background-color: red; */
max-width: 250px;
display: flex;
justify-content: center;
}
.profile > img {
width: 100%;
border-radius: 0.3rem;
height: auto;
}
.profile > h3 {
align-self: end;
font-size: 1.5rem;
position: absolute;
margin-top: 0.7rem;
color: #2e3440;
}
.light-mode .about-me {
background-color: #eceff4;
}
.dark-mode .about-me {
background-color: #4c566a;
}
.about-me {
display: flex;
flex-direction: column;
padding: 1rem 1rem 0.2rem 1rem;
max-width: 300px;
border-radius: 0 0.3rem 0.3rem 0 ;
}
.about-me > h3 {
font-size: 1rem;
margin: 0.5rem 0;
/* margin: 1rem 1rem 0 1rem; */
}
.about-me > p {
font-weight: 400;
/* margin: 1rem; */
margin: 0.5rem 0;
}
.git-icon {
/* margin: 0 0.2rem 0.2rem 0; */
align-self: end;
cursor: pointer;
}













